{% extends "app/base.html" %}

{%block title%} Task - List {%endblock title%}

<style>
    /* Center everything on the page */
    .container {
        text-align: center;
    }
</style>

{%block content%}

<div class="container">
    <!-- Navbar -->

    <nav class="navbar sticky-top navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/task/">Task List</a>
        </div>
       
    </nav>
    <br>
 
    <form method="post">

        {% csrf_token %}
        <!-- Status Dropdown -->

        <div class="d-flex justify-content-end">
            <div class="col-md-2">
                <label for="status" class="me-2">Status:</label>
                <select class="form-select me-2" name="status" id="status" aria-label="Default select example">
                    <option selected value="None">All</option>
                    {%for value, label in render_status %}
                    <option value="{{value}}">{{label | title}}</option>
                    {%endfor%}

                </select>
            </div>
            <!-- Sorting dropdown -->
            <div class="col-md-2">
                <label for="sort_by">Sort by:</label>
                <select class="form-select me-2" name="sort_by" id="sort_by" aria-label="Default select example">
                    <option selected value="None">All</option>
                    <option value="priority">Priority</option>
                    <option value="due_date">Due Date</option>
                   </select>
            </div>
            
            <div class="btn" style="padding: 20px;">
                <button class="btn btn-outline-success" type="submit">Apply</button>
            </div>
        </div>

    </form>
   <br>

    <table class="table table-secondary table-hover table-bordered border-primary">
        <thead class="table-dark">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Due Date</th>
                <th scope="col">Priority</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for task in tasks %}
                <td>{{ task.title }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.due_date }}</td>
                <td>{{ task.get_priority_display }}</td>
                <td>{{ task.get_status_display }}</td>
            </tr>
            {% endfor %}
        </tbody>

</div>

{%endblock content%}